In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', header=None)
df.columns = ['elf1', 'elf2']

In [3]:
df.head()

    elf1   elf2
0  61-78  61-77
1   1-98  23-98
2  70-70   3-70
3   7-41   7-40
4   5-85   2-50

In [4]:
df = df.apply(lambda x: x.str.split('-'), axis='index')

In [5]:
def check_if_fully_contained(row):
    return check_if_1_in_2(row[0], row[1]) or check_if_1_in_2(row[1], row[0])

In [6]:
def check_if_1_in_2(range1, range2):
    if (int(range1[0]) >= int(range2[0]) and int(range1[1]) <= int(range2[1])):
        return True
    else:
        return False

In [7]:
df['contained'] = df.apply(lambda row: check_if_fully_contained(row), axis='columns')

In [8]:
df.head(10)

       elf1      elf2  contained
0  [61, 78]  [61, 77]       True
1   [1, 98]  [23, 98]       True
2  [70, 70]   [3, 70]       True
3   [7, 41]   [7, 40]       True
4   [5, 85]   [2, 50]      False
5  [13, 59]  [13, 13]       True
6  [22, 81]  [57, 82]      False
7   [4, 26]  [27, 70]      False
8  [37, 86]  [38, 86]       True
9   [3, 49]  [48, 48]       True

In [9]:
# solution 4a
sum(df.contained)

644

In [10]:
def check_if_overlap(row):
    return check_if_1_starts_in_2(row[0], row[1]) or check_if_1_starts_in_2(row[1], row[0])

In [11]:
def check_if_1_starts_in_2(range1, range2):
    #  check: start 2 <= start 1 <= end 2
    if(int(range1[0])>=int(range2[0]) and int(range1[0])<=int(range2[1])):
        return True
    else:
        return False

In [12]:
df['overlaps'] = df.apply(lambda row: check_if_overlap(row), axis='columns')

In [13]:
df.head(10)

       elf1      elf2  contained  overlaps
0  [61, 78]  [61, 77]       True      True
1   [1, 98]  [23, 98]       True      True
2  [70, 70]   [3, 70]       True      True
3   [7, 41]   [7, 40]       True      True
4   [5, 85]   [2, 50]      False      True
5  [13, 59]  [13, 13]       True      True
6  [22, 81]  [57, 82]      False      True
7   [4, 26]  [27, 70]      False     False
8  [37, 86]  [38, 86]       True      True
9   [3, 49]  [48, 48]       True      True

In [14]:
# solution 4b
sum(df.overlaps)

926